* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: 'PPNeueMontreal-Book';
    font-weight: 500;
    font-style: normal;
    color: black;
    height: 100vh;
}

    
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    
    width: 100%;
    height: 100vh;
}

.header h1 {
    font-size: 40px;
    text-align:center;
}
.header p {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 17px;
}
.header a {
    color: black;
    outline: none;
}
.header a:hover{
    color: blue;
}

h1::selection {
    background: #fff2a8;
}
p::selection {
    background: #fff2a8;
}
